---
import Button from "../components/Button.astro";
import Default from "../layouts/Default.astro";

// NE-style projects list. Descriptions can be separated by paragraph, if required.
const projects = [
	{
		name: "CRSS",
		icon: "https://crss.cc/favicon.ico",
		colour: "#ffffff",
		description: [
			"This is Clyde's Real Survival SMP, CRSS for short. The server was created by Blurry. The server's twist is that it started on b1.0 and updated all the way to 1.21.8 on the start of each month, or more recently, when new versions get supported by the server-side mods we use.",
		],
		links: [
			{
				name: "Website",
				to: "https://crss.cc",
			},
			{
				name: "CRSS internet",
				to: "https://s.yippe.crssi.cc",
			},
			{
				name: "Git",
				to: "https://github.com/crss666",
			},
			{
				name: "YouTube",
				to: "https://youtube.com/@crss666",
			},
			{
				name: "Modrinth",
				to: "https://modrinth.com/organization/crss",
			},
		],
	},
	{
		name: "Pridecraft Studios",
		icon: "https://pridecraft.gay/logo.svg",
		colour: "#a528a4",
		description: ["A collective of developers making LGBT-themed modifications to Minecraft."],
		links: [
			{
				name: "Website",
				to: "https://pridecraft.gay/",
			},
			{
				name: "GitHub",
				to: "https://git.pridecraft.gay/",
			},
			{
				name: "Youtube",
				to: "https://youtube.com/@pridecraftstudios",
			},
			{
				name: "Modrinth",
				to: "https://modrinth.com/organization/pridecraft",
			},
		],
	},
/*	{
		name: "Loop",
		icon: "https://loopmc.org/favicon.ico",
		colour: "#ff0050",
		description: [
			"[INACTIVE] We are an organization dedicated to improving the legacy Minecraft experience."
		],
		links: [
			{
				name: "Website",
				to: "https://loopmc.org/",
			},
			{
				name: "GitHub",
				to: "https://github.com/TheLoopProject/",
			},
			{
				name: "Modrinth",
				to: "https://modrinth.com/organization/loop",
			},
		],
	}, */
];

function getGradientFromProject(colour: string) {
	return `background: linear-gradient(45deg, ${colour}40 0%, rgba(0,0,0,0) 100%);`;
}
---

<Default title="Projects">
	<span class="text-4xl font-bold">Some <span class="text-brand-colour">projects</span> of mine.</span>
	<div class="flex h-full flex-col justify-center gap-2">
		{
			projects.map((project: any) => (
				<div class="flex w-full flex-col">
					<div class="flex w-full flex-col gap-3 p-8" style={getGradientFromProject(project.colour)}>
						<span class="flex flex-row items-center gap-4 text-4xl font-bold">
							<img class="h-10 w-10 rounded-xl" src={project.icon} />
							{project.name}
						</span>
						<span class="flex flex-col gap-2">
							{project.description.map((paragraph: any) => (
								<span>{paragraph}</span>
							))}
						</span>
						<div class="flex flex-row flex-wrap items-center gap-2">
							{project.links.map((link: any) => (
								<Button
									style={`background-color:${project.colour}`}
									classList={project.colour === "#ffffff" ? "subtext_dark" : ""}
									to={link.to}
									external={true}
									showIcon={true}>
									{link.name}
								</Button>
							))}
						</div>
					</div>
				</div>
			))
		}
	</div>
</Default>
